<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <% coffeeData.forEach(item=> { %>
        <div class="col-md-4">
          <a href="./page2?id=<%= encodeURIComponent(item.id) %>" class="coffee-card"
            style="text-decoration: none; color: #333333">
            <img src="<%= item.drinkThumb %>" class="card-img-top" alt="<%= item.drinkName %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= item.drinkName %>
              </h5>
            </div>
          </a>
        </div>
        <% }); %>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>