<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= image %>" alt="Recipe Image">
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Ingredients</h5>
              <ul id="ingredientsList">
                <% ingredients.forEach(ingredient=> { %>
                  <li>
                    <%= ingredient %>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Measurements</h5>
              <ul id="measurementsList" class="list-group list-group-flush">
                <% measurements.forEach(measurement=> { %>
                  <li class="list-group-item">
                    <%= measurement %>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Recipe</h5>
              <ol id="recipeList">
                <% recipe.forEach(step=> { %>
                  <li>
                    <%= step %>
                  </li>
                  <% }); %>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>