<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="glass-card">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= image %>" alt="Recipe Image" class="recipe-img">
          <div class="bottom-left-card">
            <div class="card-body">
              <h4 class="card-title"><b>Ingredients</b></h4>
              <ul id="ingredientsList">
                <% ingredients.forEach(ingredient=> { %>
                  <li>
                    <%= ingredient %>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="top-right-card">
            <h2 class="card-title" style="text-align: center; font-family: Akaya Kanadaka;">
              <%= name %>
            </h2>
          </div>
          <div class="top-right-card" style="font-family: Antic; font-weight: bold;">
            <div class="card-body">
              <h4 class="card-title"><b>Measurements</b></h4>
              <ul id="measurementsList" class="list-group list-group-flush">
                <% measurements.forEach(measurement=> { %>
                  <li class="list-group-item">
                    <%= measurement %>
                  </li>
                  <% }); %>
              </ul>
            </div>
          </div>
          <div class="bottom-right-card">
            <div class="card-body">
              <h4 class="card-title"><b>Recipe</b></h4>
              <ol id="recipeList">
                <% recipe.forEach(step=> { %>
                  <li>
                    <%= step %>
                  </li>
                  <% }); %>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>